---
---
@import "uno";
@import "tables";
@import "monokai";
@import "timeline";

/* Modifications */

pre.highlight,
.highlight pre {
  padding: 10px;
}

pre.highlight code,
.highlight pre code {
  white-space: pre-wrap;
}

.btn,
.navigation__item a {
  margin: 5px 0;
  white-space: nowrap;
}

.pagination__page-number {
  display: inline-block;
  padding: 10px;
}

.categories a,
.tags a {
  border: 1px solid #e25440;
  border-radius: 20px;
  color: #e25440;
  display: inline-block;
  font-size: 12px;
  margin: 5px 0;
  padding: 5px 10px;
  text-shadow: none;
  white-space: nowrap;
}

.post-meta__tags {
  font-size: 12px;
  padding: 0 5px;
}

.footer__copyright {
    margin: 0 20px 10px;
}

.user-image {
  margin-bottom: 1.2em;
  position: relative;
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
  border-radius:100%;
}

.ml {
    background: url('images/favicons/ml.png');
    height: 20px;
    width: 20px;
    display: block;
    /* Other styles here */
}

$blue: #00b3e3;
$darkBlue: #23333f;
$white: #ffffff;

.svg-container {
	background: $darkBlue;
	padding: 3em;
	svg {
		max-width: 500px;
	}
}

.line {
  fill:none;
  stroke:$blue;
  stroke-miterlimit:10;
	stroke-width:0.5;
	animation: line-pulse 5s ease infinite;
	-moz-animation: line-pulse 5s ease infinite; /* Firefox */
	-webkit-animation: line-pulse 5s ease infinite; /* Safari and Chrome */
	-o-animation: line-pulse 5s ease infinite; /* Opera */
}

.circle {
	fill: transparent;
	transition: fill 300ms ease;
}

.blue-bg {
	fill: $blue;
	animation: circle-pulse 10s linear infinite;
	-moz-animation: circle-pulse 10s linear infinite; /* Firefox */
	-webkit-animation: circle-pulse 10s linear infinite; /* Safari and Chrome */
	-o-animation: circle-pulse 10s linear infinite; /* Opera */
	-webkit-animation-delay: 3s; /* Chrome, Safari, Opera */
  animation-delay: 3s;
}

@keyframes circle-pulse {
	0%,100% { fill: $blue; }
	50% { fill: $white; }
}

@keyframes line-pulse {
	0%,100% { stroke: $blue; }
	50% { stroke: $white; }
}

@keyframes svg-pulse {
	0%,100% { stroke: $blue; }
	50% { stroke: $white; }
}